<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceIcon">
			<%= link_to image_tag("google-logo.jpg"), :controller => 'google'  %>
		</div>
		<div class="ServiceTitle">
			<h1>Google</h1>
		</div>
		<div class="ServiceLinks">
			<a href="http://code.google.com/apis" target="_blank" ><h2>Documentation</h2></a>
		</div>
		<div class="ServiceLinks">
			<a href="https://code.google.com/apis/console/" target="_blank" ><h2>API Keys</h2></a>
		</div>
	</div>
	<div class="ServiceBody">
		<div class="ServiceFeature">
			<% if session[:googleAuthCode] %>
				<div class="ServicePanel MenuItem Red">	
					<div class="ServicePanel MenuItemIcon">
					<%= link_to image_tag("revokeAuthorization-256Px-034.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'google', :action=> 'revokeGoogleAccess' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
					<%= link_to "Revoke Google Access", :controller => 'google', :action=> 'revokeGoogleAccess' %>	
					</div>
				</div>
				<div class="ServicePanel MenuItem Green">
					<div class="ServicePanel MenuItemIcon">
					<%= link_to image_tag("contacts-256Px-012.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'google', :action=> 'retrieveGoogleContacts' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
					<%= link_to "Retrieve Google Contacts", :controller => 'google', :action=> 'retrieveGoogleContacts' %>	
					</div>
				</div>
			<% else %>
				<div class="ServicePanel MenuItem Green">	
					<div class="ServicePanel MenuItemIcon">
					<%= link_to image_tag("authorizeAccess-256Px-202.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'google', :action=> 'authorizeGoogleAccess' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
					<%= link_to "Authorize Google Access", :controller => 'google', :action=> 'authorizeGoogleAccess' %>	
					</div>
				</div>
			<% end %>
			<div class="ServicePanel MenuItem Green">	
				<div class="ServicePanel MenuItemIcon">
				<%= link_to image_tag("authorizationStatus-256Px-221.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'google', :action=> 'authorizationStatus' %>
				</div>
				<div class="ServicePanel MenuItemTitle">
				<%= link_to "Google Authorization Status", :controller => 'google', :action=> 'authorizationStatus' %>	
				</div>
			</div>
	</div>
</div>
