<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Yahoo API", "yahoo" %>
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("yahoo-logo.jpg"), :controller => 'yahoo'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Google API", "google" %>
	</div>	
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("google-logo.jpg"), :controller => 'google'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Facebook API", "facebook" %>
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("facebook-logo.jpg"), :controller => 'facebook'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "MySpace API", "myspace" %>
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("myspace-logo.jpg"), :controller => 'myspace'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "AOL API", "aol" %>	
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("aol-logo.jpg"), :controller => 'aol'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Windows Live API", "windowslive" %>	
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("windows-live-logo.jpg"), :controller => 'windowslive'  %>
	</div>
</div>

