<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Yahoo API", :controller => 'yahoo' %>
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("yahoo-logo.jpg"), :controller => 'yahoo'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Google API", :controller => 'google' %>
	</div>	
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("google-logo.jpg"), :controller => 'google'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Facebook API", :controller => 'facebook' %>
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("facebook-logo.jpg"), :controller => 'facebook'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "MySpace API", :controller => 'myspace' %>
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("myspace-logo.jpg"), :controller => 'myspace'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "AOL API", :controller => 'aol' %>	
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("aol-logo.jpg"), :controller => 'aol'  %>
	</div>
</div>
<div class="ControlPanel MenuItem">
	<div class="ControlPanel MenuItemTitle">
		<%= link_to "Windows Live API", :controller => 'windowslive' %>	
	</div>
	<div class="ControlPanel MenuItemIcon">
		<%= link_to image_tag("windows-live-logo.jpg"), :controller => 'windowslive'  %>
	</div>
</div>

