<div class="ServiceSection Twitter">
	<h2>Twitter User Information</h2>
	<div class="UserInfo Twitter">
		<div>Twitter Screen Name - <%= @twitterScreenName %></div>
		<div>Twitter Id- <%= @twitterId %></div>
		<div>Twitter User Name - <%= @twitterName %></div>
	</div>
	<h2>Contact EMail List</h2>
	<div class="UserFriends Twitter">
	<% for friend in @twitterFriends %>
		<div class="UserFriend Twitter <%= cycle('odd', 'even')%>"><%= friend[0] %></div>
	<% end %>
	</div>
</div>