<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceHeaderGroup">
			<div class="ServiceIcon">
				<%= link_to image_tag("yahoo-logo.jpg"), :controller => 'yahoo'  %>
			</div>
			<div class="ServiceTitle">
				<h1>Yahoo User Information</h1>
			</div>
			<div class="ServiceUserInfo">
				<div class="UserInfo Yahoo">
					<ul class="UserInfo">
						<li><h2>Yahoo GUId</h2><p class="Id"> <%= session[:yahooGUId] %></p></li>
						<li><h2>Yahoo User Name</h2><p class="Name"> <%= session[:yahooUserName] %></p></li>
					</ul>
				</div>
			</div>
			<h2>Yahoo EMail Address Book</h2>
		</div>
	</div>
	
	<div class="ServiceBody">  
		<div class="ServiceBodyGroup">
			<div class="UserContacts Yahoo">
			<% for contact in @yahooContacts %>
				<div class="UserContact Yahoo <%= cycle('odd', 'even')%>"><%= contact[0] %><br /><%= contact[1] %>, <%= contact[2] %><br /> <%= contact[3] %></div>
			<% end %>
			</div>
		</div>
	</div>
</div>
