<div class="Service">
	<div class="ServiceHeader Yahoo">
		<h2>Yahoo User Information</h2>
		<div class="UserInfo Yahoo">
			<div>Yahoo GUId - <%= @yahooGUId %></div>
			<div>Yahoo Name - <%= @yahooName %></div>
			<br/>
		</div>
		<h2>Yahoo EMail Address Book</h2>
	</div>
	<div class="ServiceBody Yahoo">  
		<div class="UserContacts Yahoo">
		<% for contact in @yahooContacts %>
			<div class="UserContact Yahoo <%= cycle('odd', 'even')%>"><%= contact[0] %><br /><%= contact[1] %>, <%= contact[2] %><br /> <%= contact[3] %></div>
		<% end %>
		</div>
	</div>
				<p>The Globally Unique Identifier (GUID) is unique to each user account on Yahoo.  The GUID is retrieved after the user has authenticated on Yahoo via an Access Token at the 'http://social.yahooapis.com/v1/me/guid?format=json' URL</p>

</div>
