<div>
	<h2>Yahoo User Information</h2>
	<ul>
		<li>Globally Unique Identifier (GUID)- <%= @guid %></li>
		<p>The GUID is unique to each user account on Yahoo.  The GUID is retrieved after the user has authenticated on Yahoo via an Access Token at the 'http://social.yahooapis.com/v1/me/guid?format=json' URL</p>
	</ul>
	<br />
	<h2>Contact EMail List</h2>
	<ul>
	<% for contact in @contacts %>
		<li class="YahooContact"><%= contact[0] %><br /><%= contact[1] %>, <%= contact[2] %><br /> <%= contact[3] %></li>
		<br />
	<% end %>
	</ul>
</div>