<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceIcon">
			<%= link_to image_tag("windows-live-logo.jpg"), :controller => 'windowslive'  %>
		</div>
		<div class="ServiceTitle">
			<h1>Windows Live</h1>
		</div>
		<div class="ServiceLinks">
			<a href="http://msdn.microsoft.com/en-us/windowslive/" target="_blank" ><h2>Documentation</h2></a>
		</div>
		<div class="ServiceLinks">
			<a href="https://manage.dev.live.com/Applications/Index" target="_blank" ><h2>API Keys</h2></a>
		</div>
	</div>
	<div class="ServiceBody">
		<div class="ServiceFeature">
			<% if session[:windowsLiveAccessToken] %>

				<div>
					Windows Live Access has been Authorized!  Authorization Code Stored in Session.			
				</div>
				<div class="ServicePanel MenuItem Green">
					<div class="ServicePanel MenuItemIcon">
					<%= link_to image_tag("authorized-256Px-146.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'windowslive', :action=> 'index' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
					<%= link_to "Windows Live Access Authorized - Return to Servce Panel", :controller => 'windowslive', :action=> 'index' %>	
					</div>
				</div>						

			<% else %>
			
				<div>
					Windows Live Access NOT Authorized! No Authorization Code.
				</div>
				<div class="ServicePanel MenuItem Red">	
					<div class="ServicePanel MenuItemIcon">
					<%= link_to image_tag("unauthorized-256Px-145.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'windowslive', :action=> 'index' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
					<%= link_to "Windows Live Access Denied - Return to Servce Panel", :controller => 'windowslive', :action=> 'index' %>	
					</div>
				</div>
						
			<% end %>
		</div>
		<div class="TokenInfo">
			Auth Code - <%= session[:windowsLiveAuthCode] %><br />
			Access Token - <%= session[:windowsLiveAccessToken] %><br />
			Refresh Token - <%= session[:windowsLiveRefreshToken] %><br />
			Authentication Token - <%= session[:windowsLiveAuthenticationToken] %><br />
			Access Token Birth - <%= session[:windowsLiveTokenBirth] %><br />
			Access Token Life - <%= session[:windowsLiveTokenExpiresIn] %><br />
		</div>
	</div>
</div>