<div>
	<h2>Windows Live User Information</h2>
	<ul>
		<li>Windows Live UserId - <%= @guid %>
		</li>
	</ul>
	<br />
	<h2>Contact EMail List</h2>
	<ul>
	<% for contact in @contacts %>
		<li class="WindowsLiveContact <%= cycle('odd', 'even')%>"><%= contact[0] %><br /><%= contact[1] %><br /><%= contact[2] %><br /><%= contact[3] %></li>
		<br />
	<% end %>
	</ul>
</div>