<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceHeaderGroup">
			<div class="ServiceIcon">
				<%= link_to image_tag("windows-live-logo.jpg"), :controller => 'windowslive'  %>
			</div>
			<div class="ServiceTitle">
				<h1>WindowsLive User Info</h1>
			</div>
			<div class="ServiceUserInfo">
				<div class="UserInfo WindowsLive">
					<ul class="UserInfo">
						<li><h2>WindowsLive Id</h2><p class="Id"> <%= session[:windowsLiveId] %></p></li>
						<li><h2>WindowsLive User Name</h2><p class="Name"> <%= session[:windowsLiveUserName] %></p></li>
						<li><h2>WindowsLive EMail</h2><p class="Name"> <%= session[:windowsLiveEMail] %></p></li>
					</ul>
				</div>
			</div>
			<h2>Hotmail EMail Adress Book</h2>
		</div>
	</div>
	
	<div class="ServiceBody">  
		<div class="ServiceBodyGroup">
			<div class="UserContacts WindowsLive">
			<% for contact in @windowsLiveContacts %>
				<div class="UserContact WindowsLive <%= cycle('odd', 'even')%>"><%= contact[0] %><br /><%= contact[1] %><br /><%= contact[2] %><br /><%= contact[3] %></div>
			<% end %>
			</div>
		</div>
	</div>
</div>
