<script>
	dojo.require("dijit.Dialog");
	var signinToken = function(){		
		dijit.byId('signinToken').show();
		}
	var signinTokenSecret = function(){		
		dijit.byId('signinTokenSecret').show();
		}
	var accessToken = function(){		
		dijit.byId('accessToken').show();
		}
	var accessTokenSecret = function(){		
		dijit.byId('accessTokenSecret').show();
		}
</script>


<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceHeaderGroup">
			<div class="ServiceIcon">
				<%= link_to image_tag("linked-in-icon.png"), :controller => 'linkedin'  %>
			</div>
			<div class="ServiceTitle">
				<h1>LinkedIn</h1>
			</div>
			<div class="ServiceLinks">
				<p><a href="https://developer.linkedin.com/apis" target="_blank" ><h2>Documentation</h2></a></p>
				<p><a href="https://www.linkedin.com/secure/developer" target="_blank" ><h2>API Keys</h2></a></p>
			</div>
		</div>
	</div>
	
	<div class="ServiceBody">
		<div class="ServiceBodyGroup">
		<% if session[:linkedInSigninToken] %>
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Green">
					<div class="ServicePanel MenuItemIcon">
						<%= link_to image_tag("authorized-256Px-146.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'linkedin', :action=> 'index' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
						<%= link_to "Signin with LinkedIn Account", :controller => 'linkedin', :action=> 'index' %>	
					</div>
				</div>
			</div>
		<% end %>
		<% if session[:linkedInSigninToken] %>		
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Green">
					<div class="UserSigninInfo">
						<ul class="UserSigninInfo">
							<li><h2>LinkedIn User Id</h2><p class="Id"> <%= session[:linkedInUserId] %></p></li>
							<li><h2>LinkedIn User Name</h2><p class="Name"> <%= session[:linkedInUserName] %></p></li>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
		<% if session[:linkedInAccessToken] %>
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Green">
					<div class="ServicePanel MenuItemIcon">
						<%= link_to image_tag("authorized-256Px-146.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'linkedin', :action=> 'index' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
						<%= link_to "LinkedIn Account Access Authorized", :controller => 'linkedin', :action=> 'index' %>	
					</div>
				</div>
			</div>			
		<% end %>		
		<% if !session[:linkedInAccessToken] %>
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Red">	
					<div class="ServicePanel MenuItemIcon">
						<%= link_to image_tag("unauthorized-256Px-145.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'linkedin', :action=> 'index' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
						<%= link_to "LinkedIn Account Access NOT Authorized", :controller => 'linkedin', :action=> 'index' %>	
					</div>
				</div>
			</div>			
		<% end %>
		<% if session[:linkedInSigninToken] %>
			<div class="ServiceFeature">							
				<div class="ServicePanel MenuItem Green">	
					<ul class="SigninTokenInfo">
						<a href="javascript:signinToken()"><li><h2>Signin Token</h2><%= image_tag("keys-256Px-144.png")  %></li></a>
						<a href="javascript:signinTokenSecret()"><li><h2>Signin Token Secret</h2><%= image_tag("keys-256Px-144.png")  %></li></a>
					</ul>
				</div>
			</div>
		<% end %>
		<% if session[:linkedInAccessToken] %>
			<div class="ServiceFeature">							
				<div class="ServicePanel MenuItem Green">	
					<ul class="AccessTokenInfo">
						<a href="javascript:accessToken()"><li><h2>Access Token</h2><%= image_tag("keys-256Px-144.png")  %></li></a>
						<a href="javascript:accessTokenSecret()"><li><h2>Access Token Secret</h2><%= image_tag("keys-256Px-144.png")  %></li></a>
					</ul>
				</div>
			</div>
		<% end %>
		</div>
	</div>
	
	<div id="signinToken" dojoType="dijit.Dialog">
		<h2>Signin Token</h2>
		<p style="overflow: auto;"><%= session[:linkedInSigninToken] %></p>
	</div>
	
	<div id="signinTokenSecret" dojoType="dijit.Dialog">
		<h2>Signin Token Secret</h2>
		<p style="overflow: auto;"><%= session[:linkedInSigninTokenSecret] %></p>
	</div>
	
	<div id="accessToken" dojoType="dijit.Dialog">
		<h2>Access Token</h2>
		<p style="overflow: auto;"><%= session[:linkedInAccessToken] %></p>
		<h2>OAuth Verifier</h2>
		<p class="Id"> <%= session[:linkedInVerifier] %></p>
		<h2>Access Token Birth</h2>
		<p class="Id"> <%= session[:linkedInTokenBirth] %></p>
		<h2>Access Token Life</h2>
		<p class="Id"><%= session[:linkedInExpiresIn] %></p>
		<h2>Authorization Expires In</h2>
		<p class="Id"><%= session[:linkedInAuthorizationExpiresIn] %></p>
	</div>
	
	<div id="accessTokenSecret" dojoType="dijit.Dialog">
		<h2>Access Token Secret</h2>
		<p style="overflow: auto;"><%= session[:linkedInAccessTokenSecret] %></p>
	</div>


</div>