<div class="Service">
	<div class="ServiceHeader">
		<div class="ServiceHeaderGroup">
			<div class="ServiceIcon">
				<%= link_to image_tag("linked-in-icon.png"), :controller => 'linkedin'  %>
			</div>
			<div class="ServiceTitle">
				<h1>LinkedIn</h1>
			</div>
			<div class="ServiceLinks">
				<p><a href="https://developer.linkedin.com/apis" target="_blank" ><h2>Documentation</h2></a></p>
				<p><a href="https://www.linkedin.com/secure/developer" target="_blank" ><h2>API Keys</h2></a></p>
			</div>
		</div>
	</div>
		
	<div class="ServiceBody">
		<div class="ServiceBodyGroup">
		<% if session[:linkedInAccessToken] %>
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Red">	
					<div class="ServicePanel MenuItemIcon">
						<%= link_to image_tag("revokeAuthorization-256Px-034.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'linkedin', :action=> 'revokeAccess' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
						<%= link_to "Revoke LinkedIn Access", :controller => 'linkedin', :action=> 'revokeAccess' %>	
					</div>
				</div>
			</div>
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Green">
					<div class="ServicePanel MenuItemIcon">
						<%= link_to image_tag("contacts-256Px-012.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'linkedin', :action=> 'retrieveLinkedInConnections' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
						<%= link_to "Retrieve LinkedIn Connections", :controller => 'linkedin', :action=> 'retrieveLinkedInConnections' %>	
					</div>
				</div>
			</div>
		<% else %>
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Green">	
					<div class="ServicePanel MenuItemIcon">
						<%= link_to image_tag("authorizeAccess-256Px-202.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'linkedin', :action=> 'authorizeAccess' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
						<%= link_to "Authorize LinkedIn Access", :controller => 'linkedin', :action=> 'authorizeAccess' %>	
					</div>
				</div>
			</div>
		<% end %>
			<div class="ServiceFeature">
				<div class="ServicePanel MenuItem Green">	
					<div class="ServicePanel MenuItemIcon">
						<%= link_to image_tag("authorizationStatus-256Px-221.png", :class => "ServicePanel MenuItemIcon"), :controller=> 'linkedin', :action=> 'authorizationStatus' %>
					</div>
					<div class="ServicePanel MenuItemTitle">
						<%= link_to "LinkedIn Authorization Status", :controller => 'linkedin', :action=> 'authorizationStatus' %>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
