<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>OAuth Sample Service API Page</title>
		<%= stylesheet_link_tag 'reset' %>  		
  		<%= stylesheet_link_tag 'default' %>
  		<%= stylesheet_link_tag 'controlPanel' %>
  		<%= stylesheet_link_tag 'mainMenu' %>
  		<%= stylesheet_link_tag 'servicePanel' %>
  		<%= stylesheet_link_tag 'landing' %>

		<%= javascript_include_tag 'google-analytics' %>
	</head>
	<body>

		<!-- http://developers.facebook.com/docs/reference/plugins/like/ -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- https://dev.twitter.com/docs/tweet-button -->
		<!-- http://twitter.com/about/resources/buttons#tweet -->
		<script>!function(d,s,id){
			var js,fjs=d.getElementsByTagName(s)[0];
			if(!d.getElementById(id)){js=d.createElement(s);
				js.id=id;js.src="//platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);
			}
		}(document,"script","twitter-wjs");
		</script>

		<!-- https://developer.linkedin.com/share-plugin-reference -->
		<!-- https://developer.linkedin.com/plugins/share-plugin-generator -->
		<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>

		<!-- http://www.google.com/intl/en/webmasters/+1/button/index.html -->
		<!-- Place this render call where appropriate -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>


		<div class="Page_Header">
		  <div class="Page_Header Page_Header_App_Name">
		  	<h1>OAuth-Sample Application</h1>
		  </div>
		  <div class="Page_Header Page_Header_Logo">
		    <%= link_to image_tag("Social-Networking-Banner.gif"), :controller => 'welcome' %>
		  </div>
		</div>
		<div class="Page_Body">
		  	<%= yield %>
		</div>
		<!-- Page_Body -->
		<div class="Page_Footer">
		<p>
		Copyright 2010, 2012 Mark Aufdencamp
		</p>
		</div>
	</body>
</html>
