<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>OAuth Sample Service API Page</title>
		<%= stylesheet_link_tag 'reset' %>  		
  		<%= stylesheet_link_tag 'default' %>
  		<%= stylesheet_link_tag 'controlPanel' %>
  		<%= stylesheet_link_tag 'mainMenu' %>
	</head>
	<body>
		<div class="Page_Header">
		  <div class="Page_Header Page_Header_App_Name">
		  	<h1>OAuth-Sample Application</h1>
		  </div>
		  <div class="Page_Header Page_Header_Logo">
		    Logo Image
		  </div>
		</div>
<br />
		<div class="Page_Body">
		  <!-- Page_Body_Left -->
		  <div class="Page_Body Page_Body_Left">
			<div class="MainMenu MenuButton">
			    <%= link_to "Home", :controller => 'welcome' %>
			</div>
			<div class="MainMenu MenuButton">
			   	<%= link_to "Yahoo API", :controller => 'yahoo' %>
			</div>
			<div class="MainMenu MenuButton">
			   	<%= link_to "Google API", :controller => 'google' %>
			</div>
			<div class="MainMenu MenuButton">
			   	<%= link_to "Facebook API", :controller => 'facebook' %>
			</div>
			<div class="MainMenu MenuButton">
			   	<%= link_to "AOL API", :controller => 'aol' %>
			</div>
			<div class="MainMenu MenuButton">
			   	<%= link_to "Windows Live API", :controller => 'windowslive' %>
			</div>
		  </div>
		  <!-- Page_Body_Left -->
		  
		  <!-- Page_Body_Right -->	  
		  <div class="Page_Body Page_Body_Right" >

		  </div>
		  <!-- Page_Body_Right -->
		  
		  <div class="Page_Body Page_Body_Center">
		  	<div class="Page_Body Flash" >
		  		<p style="color: green"><%= flash[:notice] %></p>
		  		<p style="color: red"><%= flash[:error] %></p>
			</div>
			
		  	<%= yield %>
		  	
		  </div>
		  <!-- Page_Body_Center -->

		</div>
		<!-- Page_Body -->
<br />
		<div class="Page_Footer">
		<p>
		Copyright 2010 Mark Aufdencamp
		</p>
		</div>
	</body>
</html>
